In [9]:
#this notebook has to deal with both numppy and Series
import numpy as np

In [10]:
import pandas as pd

In [11]:
myindex = ["USA","CANADA","MEXICO"]

In [12]:
mydata = [1776, 1867,1821]

In [13]:
myser = pd.Series(data=mydata,index=myindex)

In [17]:
myser

USA       1776
CANADA    1867
MEXICO    1821
dtype: int64

In [16]:
myser[0]

1776

In [18]:
myser["USA"]

1776

In [19]:
theages = {"Brandy":45,"Kelly":50,"tim":23}

In [20]:
pd.Series(theages)

Brandy    45
Kelly     50
tim       23
dtype: int64

In [21]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [22]:
sales_q1 = pd.Series(q1)

In [23]:
sales_q2 = pd.Series(q2)

In [24]:
sales_q1 *5

Japan     400
China    2250
India    1000
USA      1250
dtype: int64

In [25]:
#fill_value is what will be used if there is no match between the lists
sales_q1.add(sales_q2,fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64